{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <div class="container py-4" data-aos="fade-up"
    data-aos-duration="1200" data-aos-once="true">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Who are we?</h1>
                <p class="lead text-muted mb-0">We focus on manufacturing and supplying effectual Hydrogen
                    peroxide gas plasma
                    sterilizer that benefits the healthcare industry.</p>

            </div>
            <div class="col-lg-6 d-none d-lg-block pt-4"><img src="{% static 'images\team.jpg' %}" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>



<div class="py-5 pb-4" data-aos="fade-up"
data-aos-duration="1500" data-aos-once="true">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Meet the crew </p>
            </div>
        </div>

        <div class="row text-center data-aos="fade-up"
        data-aos-duration="1800" data-aos-once="true"">

            <!-- adesh v-->
            <div class="col-xl-3 col-sm-6 mb-5" id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\adesh.jpg' %}"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">ADESH V</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a
                                href="https://www.linkedin.com/in/adesh-v-320387214"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- lokeshwaRAN-->
            <div class="col-xl-3 col-sm-6 mb-5" id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\lokeshwaran.jpg' %}"
                        alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">LOKESHWARAN J</h5><span class="small text-uppercase text-muted">Co - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!--  <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-facebook"></i></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-instagram"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/lokesh-waran-j-709076241"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->



            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5" id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\tharany.jpg' %}" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Tharany B</h5>
                    <span class="small text-uppercase text-muted">Co-Founder </br>& Growth Head</span>
                    <ul class="social mb-0list-inline mt-3">

                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/tharany-b-ab8088212/"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5" id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\dhivya.jpg' %}" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dhivya dharshini U</h5><span class="small text-uppercase text-muted">COO</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dhivya-uthirapathi-976236212" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 " id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\sindhujabalaji.jpg' %}" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">SINDUJA BALAJI <br>    </h5><span class="small text-uppercase text-muted">CFO</span>
                    <ul class="social mb-0 list-inline mt-3">

                        
                    </ul>
                </div>
            </div>
            <!-- End-->

            
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 " id="social-card">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'images\dhanus.jpg' %}" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">DHANUS E M</h5><span class="small text-uppercase text-muted">Buisness Analyst</span>
                    <ul class="social mb-0 list-inline mt-3">

                        <li class="list-inline-item"><a href="https://in.linkedin.com/in/dhanus-e-m-2aba62222"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>

{% endblock %}