{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--carasouel-->
<section class="">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images\caras11.jpeg' %}" class="d-block w-100 " alt="Image 1">
            <div class="carousel-caption p-sm-3" style="">
                <h2 style="font-size:3vw" data-aos="fade-up"
                data-aos-duration="1000" data-aos-once="true">What do we do?</h2>
                <p style="font-size:1.5vw" data-aos="fade-up"
                data-aos-duration="1200" data-aos-once="true">We provide cost-optimized and quick cyclic hydrogen peroxide sterilizer machine. The
                    plasma sterilizer uses hydrogen peroxide as a sterilant to sterilize precise medical devices and
                    instruments.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images\caras2.jpeg' %}" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption" style="">

                <h2 style="font-size:3vw" >What makes our product best?</h2>
                <p style="font-size:1.5vw" >Our sterilizer system utilizes a combination of hydrogen peroxide and low-temperature gas
                plasma to sterilize authenticated medical equipment quickly and safely. The additional benefit of
                our product is, we provide them at an affordable cost and quick-cyclic processed</p>



            
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images\11.jpg'%}" class="d-block w-100"="Image 3">
            <div class="carousel-caption" style="">
                <h2 style="font-size:3vw" >How does our product works?</h2>
                <p style="font-size:1.5vw" >Hydrogen peroxide is non-toxic, powerful oxidising agent that decomposes into water and
                    oxygen. The benefit of hydrogen peroxide is environment friendly. It does not leave harmful residues
                    after plasma phase to the environment. Also, it has great advantages in sterilizing performance that
                    can destroy a wide range of pathogens.</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
</section>





<div class="b-example-divider " data-aos="fade-up"
data-aos-duration="3000"></div>

<div class="my-5">
  <div class="py-2  px-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis pb-lg-3" data-aos="fade-up"
      data-aos-duration="1500" data-aos-once="true">What does Medford Technologies  do?</h1>
      <p class="col-lg-8 col-sm-12 mx-auto lead" data-aos="fade-up"
      data-aos-duration="1500" data-aos-once="true" > 
        
Medford Technologies specializes in the development, manufacture, and sale of health care products and also provides related services to consumers.
The first product we launch is the <strong>Hydrogen Peroxide Sterilizer </strong>.
We introduce an enhanced new method of hydrogen peroxide sterilization machines that combines 3 processes together into one solution that is suitable for sterilizing delicate and sensitive medical equipment for health care sectors.
      </p>
    </div>
  </div>
</div>

<!--
<section class="ind-2" data-aos="fade">
    <div class="container-fluid text-center">
        <h3 data-aos="fadeInDown" data-aos-delay="200" data-aos-once="true">WHAT DO WE MAKE</h3>
        <img src="{% static 'images\sterlizer.png' %}" class="p-2 w-25 h-25 text-center" alt="">
        <h3 data-aos="slide-down" data-aos-delay="150" data-aos-once="true">H2O2 Gas Plasma STERLIZERS</h3>
    </div>

</section>-->
{% endblock %}